#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  #modal-content {
    position: absolute;
    background-color: white;
    border-radius: 15px;
    max-width: 700px;
    max-height: 500px;
  }

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: auto;
}

.login form {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.username-email-login {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-bottom: 5px;
}

.password-login {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.login-submit {
  width: 50%;
}


.submit-login {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
  background-color: rgb(252, 98, 98);
  color: white;
  border: none;
  transition: transform 0.1s;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.submit-login:hover {
  transform: translateY(1px);
}

.submit-login:active {
  transform: translateY(2px); 
  box-shadow: none;
}

.disabled-login {
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
  background-color: rgb(241, 211, 211);
  color: rgb(153, 149, 149);
  border: none;
  width: 100%;
  height: 100%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

.login-demo-user {
  background-color: white;
  border: none;
  margin-top: 10px;
}

.login-demo-user button{
  background-color: none;
  border: none;
  text-decoration: underline;
  padding-bottom: 10px;
  padding-top: 10px;
  cursor: pointer;
  background-color: white;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: auto; 
  padding-bottom: 30px;
}

.sign-up-form form {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up-email {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.sign-up-username {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5px 0
}

.sign-up-firstName {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.sign-up-lastName {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5px 0
}

.sign-up-password {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.sign-up-confirm {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5px 0
}

.sign-up-submit {
  width: 50%;
  height: 30px;
}

/* .sign-up-submit button {
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
  background-color: rgb(252, 98, 98);
  color: white;
  border: none;
  transition: transform 0.1s;
  width: 100%;
  height: 30px;
} */

.submit-signup {
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
  background-color: rgb(252, 98, 98);
  color: white;
  border: none;
  transition: transform 0.1s;
  width: 100%;
  height: 100%;
}

.submit-signup:hover {
  transform: translateY(1px);
}

.submit-signup:active {
  transform: translateY(2px); 
  box-shadow: none;
}

.disabled-signup {
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
  background-color: rgb(241, 211, 211);
  color: rgb(153, 149, 149);
  border: none;
  width: 100%;
  height: 30px;
}

.review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 500px;
}

.review-field {
  width: 90%;
  height: 90%;
  resize: none;
  background-color: rgb(231, 239, 247);
  outline: rgb(210, 231, 258);
}

.star-rating {
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding-bottom: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  
}

.review-submit-button {
  padding-bottom: 15px;
  width: 90%;
  height: 10%;
}

.disabled-review, .submit-review {
  padding: 5px;
}

.disabled-review {
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
  background-color: rgb(241, 211, 211);
  color: rgb(153, 149, 149);
  border: none;
  transition: transform 0.1s;
  width: 100%;
  height: 100%;
}

.submit-review {
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
  background-color: rgb(252, 98, 98);
  color: white;
  border: none;
  transition: transform 0.1s;
  width: 100%;
  height: 100%;
}

.submit-review:hover {
  transform: translateY(1px);
}

.submit-review:active {
  transform: translateY(2px); 
  box-shadow: none;
}

.delete-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: auto;
}

.delete-form h3 {
  width: 70%;
  margin-bottom: 5%;
}

.delete-form form {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.delete-spot-btn {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-bottom: 10px;
}

.delete-spot-btn button{
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
  background-color: rgb(252, 98, 98);
  color: white;
  border: none;
  padding: 5px;
  transition: transform 0.1s;
}

.delete-spot-btn button:hover {
  transform: translateY(1px);
}

.delete-spot-btn button:active {
  transform: translateY(2px); 
  box-shadow: none;
}

.keep-spot-btn {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-bottom: 10px;
}

.keep-spot-btn button {
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
  background-color: darkgray;
  color: black;
  border: none;
  padding: 5px;
  transition: transform 0.1s;
}

.keep-spot-btn button:hover {
  transform: translateY(1px);
}

.keep-spot-btn button:active {
  transform: translateY(2px); 
  box-shadow: none;
}