.preview-image {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    margin-bottom: -20px;
}

.spot-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    background-color: rgb(237, 240, 243);
}

.city-and-rating {
    display: flex;
    justify-content: space-between;
    margin-bottom: -30px;
    margin-top: 10px;
}

.city-and-rating h3 {
    margin-bottom: 20px;
    width: 80%;
}

.star-icon {
    display: flex;
    justify-content: start;
    padding-right: 5px;
}

.spot-info h3{
    margin-left: 10px;
}