.spot-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap:35px;
    grid-row-gap: 30px;
    max-width: 1500px;
    max-height: 2600px;
    width: 100%;
    margin: 0 auto;
    padding-top: 80px;
}

.spot-tile {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: start;
    align-content: normal;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 5px 5px 3px black;
    border-radius: 20px;
    transition: transform 0.5s;
    z-index: 0;
}

.spot-tile:hover {
    transform: scale(1.05);
    overflow: hidden;
}